@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 60%;
    height: 500px;
}
.imagem-carrossel-dois {
    object-fit: cover;
    /* object-position: 0 60%; */
    height: 500px;
}

.titulo-banner {
    font-family: 'Pacifico', cursive;
}

.subtitulo-cor {
    color: darkred!important;
}

.subtitulo-p {
    font-weight: bold;
    color: gray;
}

.botao-bg {
    background-color: darkred;
    color: white;
}

.borda-card {
    border-color: darkred;
}

.imagem-card {
    object-fit: cover;
    width: 18rem;
    height: 200px;
}

.wrap-card {
    max-width: 18.1rem;
}

.text-footer {
    color: white;
    text-decoration: none;
}